# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# Environnement
.env
.env.local
.env.*.local

# Système
.DS_Store
Thumbs.db

# Logs
logs
*.log
logs/*.log
pids
*.pid
*.seed
*.pid.lock

# Tests
coverage/
.nyc_output/

# Build / Cache
dist/
tmp/
temp/
.cache/
*.tmp
*.bak

# VSCode / JetBrains / autres éditeurs
.vscode/
.idea/
*.swp

# Données locales
~/.todo_express/
tasks.json
